@import url('https://fonts.googleapis.com/css?family=Lato');
@lost flexbox flex;

html, body, #ui, #game {
  width: 100%;
  height: 100%;
}

body {
  background: #111;
  color: #999;
  font-family: 'Lato', sans-serif;
  font-size: .8rem;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#ui, #game {
  position: absolute;
  height: 100%;
  width: 100%;
}

#ui {
  z-index: 2;
}

#game {
  z-index: 1;
}

h1 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
}

a {
  color: #D95A02;
}

.panel-enter {
  opacity: 0.01;
  transform: translate(0, 20px);
}

.panel-enter.panel-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease;
}

.panel-leave {
  opacity: 1;
  transform: translate(0, 0);
}

.panel-leave.panel-leave-active {
  opacity: 0.01;
  transform: translate(0, -20px);
  transition: all 300ms ease;
}
